<div class="mt-5">
    <%= form_with(model: bank, local: true) do |form| %>
    <% if bank.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(bank.errors.count, "error") %> impide(n) que esta cuenta sea guardada:</h2>

        <ul>
            <% bank.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <h6>* : Campos Obligatorios</h6>
    </div>
    
    <!--Nombre y Apellido-->
    <div class="form-row field my-3">
        <div class="col-6 mb-2">
            <label for="validationName">Primer Nombre *</label>

            <input type="text" class="form-control text-capitalize is-invalid" id="validationName" name="bank[name]" onkeypress="return soloLetras(event,this)" onkeyup="return validarInput(event,this)" autofocus="autofocus" maxlength="12" required>
            <div class="invalid-feedback">
                Ingrese solo letras
            </div>
        </div>

        <div class="col-6 mb-2">
            <label for="validationLastName">Primer Apellido *</label>

            <input type="text" class="form-control text-capitalize is-invalid" id="validationLastName" name="bank[last_name]" maxlength="12" onkeypress="return soloLetras(event,this)" onkeyup="return validarInput(event,this)" required>
            <div class="invalid-feedback">
                Ingrese solo letras
            </div>
        </div>
    </div>

    <!--DNI, Pais y Estado-->
    <div class="form-row field mb-3">
        <div class="col-12 col-md-4 mb-2">
            <label for="validationDNI">Nro DNI *</label>
            <input class="form-control is-invalid" id="validationDNI" type="number" maxlength="12" onkeypress="return soloNumeros(event,this)" onkeyup="return validarInput(event,this)" name="bank[identidy]" required></input>
            <div class="invalid-feedback">
                Ingrese solo numeros
            </div>
        </div>

        <div class="col-6 col-md-4 mb-2">
            <label>Pais *</label>

            <select class="custom-select is-invalid" name="bank[country]" onChange="validarSelect(this)" required>
                <option selected disabled value="">Elegir...</option>
                <%if current_user.country.capitalize != "Brasil"%><option value="Brasil">Brasil</option><%end%>
                <%if current_user.country.capitalize != "Chile"%><option value="Chile">Chile</option><%end%>
                <%if current_user.country.capitalize != "Ecuador"%><option value="Ecuador">Ecuador</option><%end%>
                <%if current_user.country.capitalize != "España"%><option value="España">España</option><%end%>
                <%if current_user.country.capitalize != "Panama"%><option value="Panama">Panama</option><%end%>
                <%if current_user.country.capitalize != "Peru"%><option value="Peru">Perú</option><%end%>
                <%if current_user.country.capitalize != "Portugal"%><option value="Portugal">Portugal</option><%end%>
                <%if current_user.country.capitalize != "Usa"%><option value="USA">USA</option><%end%>
                <%if current_user.country.capitalize != "Venezuela"%><option value="Venezuela">Venezuela</option><%end%>
            </select>
            <div class="invalid-feedback">Elige una opcion</div>
        </div>

        <div class="col-6 col-md-4 mb-2">
            <label for="validationState">Estado</label>
            <input type="text" class="form-control is-invalid text-capitalize" id="validationState" name="bank[state]" maxlength="12" onkeypress="return soloLetras(event,this)" onkeyup="return validarInput(event,this)">
            <div class="invalid-feedback">
                Ingrese solo letras
            </div>
        </div>
    </div>

    <!--Banco-->
    <div class="form-row field mb-3">

        <div class="col-6 mb-2">
            <label>Banco *</label>

            <select class="custom-select is-invalid" name="bank[bank]" onChange="validarSelect(this)" required>
                <option selected disabled value="">Elegir...</option>
                <option value="Venezuela">Banco De Venezuela</option>
                <option value="B.O.D">B.O.D</option>
            </select>
            <div class="invalid-feedback">Elige una opcion</div>
        </div>

        <div class="col-6 mb-2">
            <label>Tipo de cuenta *</label>

            <select class="custom-select is-invalid" name="bank[type_account]" onChange="validarSelect(this)" required>
                <option selected disabled value="">Elegir...</option>
                <option value="Ahorro">Ahorro</option>
                <option value="Corriente">Corriente</option>
            </select>
            <div class="invalid-feedback">Elige una opcion</div>
        </div>
    </div>

    <div class="field">
        <%= form.label :number_account, "Numero de Cuenta *" %>
        <%= form.text_field :number_account %>
    </div>

    <div class="field">
        <%= form.label :cod_bank, "Codigo del Banco *" %>
        <%= form.text_field :cod_bank %>
    </div>

    <div class="field">
        <%= form.label :phone, "Nro de telefono (Registre el asociado a su pago movil)" %>
        <%= form.text_field :phone %>
    </div>

    <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-success mt-3 mb-5" %>
        <%= link_to 'Volver', banks_path, class:"btn btn-success mt-3 mb-5 text-right " %>
    </div>
    <% end %>
</div>

<script>

function validarInput(e, input) {
  key = e.keyCode;
  if (key == 8) {
    valor2 = input.value.toLowerCase();

    if (valor2.trim() === "" || valor2.trim() === " ") {
      input.classList.remove("is-valid");
      input.classList.add("is-invalid");
    }
  }
}

function soloLetras(e, input) {
  key = e.keyCode || e.which;
  tecla = String.fromCharCode(key).toLowerCase();
  letras = "áéíóúabcdefghijklmnñopqrstuvwxyz";
  //especiales = [8, 46, 32];

  if (letras.indexOf(tecla) == -1) {
    return false;
  } else {
    valor = input.value.toLowerCase();
    valor = valor.concat("", tecla);

    if (valor != "") {
      input.classList.remove("is-invalid");
      input.classList.add("is-valid");
    }

    return true;
  }
}

function soloNumeros(e, input) {
  key = e.keyCode || e.which;
  tecla = String.fromCharCode(key).toLowerCase();
  letras = "1234567890";
  especiales = [];

  if (letras.indexOf(tecla) == -1) {
    return false;
  } else {
    valor = input.value.toLowerCase();
    valor = valor.concat("", tecla);

    if (valor != "") {
      input.classList.remove("is-invalid");
      input.classList.add("is-valid");
    }

    return true;
  }
}

function validarSelect(x) {
  select = x;
  //num = y;
  coincidencia = false;

  if (select.value != "") {
    select.classList.remove("is-invalid");
    select.classList.add("is-valid");
  }
}
</script>