<div class="container margin-top">

    <h3>Mis Cuentas Bancarias</h3>

    <% @banks.each do |account_bank| %>

    <%if current_user.id === account_bank.user_id%>    

    <div class="row bg-nav mt-3">
        <div class="col-10">
            <h4><%=account_bank.country%></h4>
            <span><%=account_bank.name%></span><br>
            <span><%=account_bank.bank%></span><br>
            <span><%=account_bank.number_account%></span>
        </div>
        <div class="col-2">
            <br><br>

            <!-- Button trigger modal -->
            <a href="#" class="text-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="far fa-eye" style="font-size:30px"></i>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><%=account_bank.name%></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Pais: <%=account_bank.country %><br>
                            Estado: <%=account_bank.state %><br>
                            Identidad: <%=account_bank.identidy%><br>
                            Banco: <%=account_bank.bank %><br>
                            N° Cuenta: <%=account_bank.number_account %><br>
                            Tipo de Cuenta: <%=account_bank.type_account %><br>
                            Codigo del Banco: <%=account_bank.cod_bank%><br>
                            Numero de Telefono: <%=account_bank.phone%>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                        </div>
                    </div>
                </div>
            </div>


            <!--<%= link_to 'Edit', edit_bank_path(account_bank) %>-->


            <a data-confirm="Esta segur@ de eliminar esta cuenta?" rel="nofollow" data-method="delete" href="/banks/<%=account_bank.id%>" class="ml-3"><i class="fas fa-trash-alt text-danger" style="font-size:30px"></i></a>
        </div>

    </div>
    <%end%>
    <% end %>

    <br>

    <%= link_to 'Añadir Cuenta', new_bank_path, class:"btn btn-primary" %>
</div>