<!-- Esto-->
<%if @rate.country != "Argentina"%>
<h5>Argentina</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_argentina %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_argentina_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Brasil"%>
<h5>Brasil</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_brasil %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_brasil_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Chile"%>
<h5>Chile</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_chile %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_chile_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Ecuador"%>
<h5>Ecuador</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_ecuador %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_ecuador_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Espa単a"%>
<h5>Espa単a</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_espa単a %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_espa単a_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Panama"%>
<h5>Panama</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_panama %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_panama_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Peru"%>
<h5>Peru</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_peru %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_peru_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Portugal"%>
<h5>Portugal</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_portugal %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_portugal_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "USA"%>
<h5>USA</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_usa %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_usa_min %>
    </div>
</div>
<%end%>

<%if @rate.country != "Venezuela"%>
<h5>Venezuela</h5>
<div class="row">
    <div class="col-6">
        <h6>Sin tasa minima</h6>
        <%= @rate.rate_venezuela %>
    </div>
    <div class="col-6">
        <h6>A partir de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <%= @rate.rate_venezuela_min %>
    </div>
</div>
<%end%>