<%if @rate.country.capitalize != "Brasil" && @rate.rate_brasil != "0,00"%>
<h5>Brasil</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_brasil_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_brasil%> R$</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_brasil_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_brasil_min%> R$</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "Chile" && @rate.rate_chile != "0,00"%>
<h5>Chile</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_chile_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_chile%> CLP</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_chile_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_chile_min%> CLP</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "Ecuador" && @rate.rate_ecuador != "0,00"%>
<h5>Ecuador</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_ecuador_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_ecuador%> $</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_ecuador_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_ecuador_min%> $</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "España" && @rate.rate_españa != "0,00"%>
<h5>España</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_españa_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_españa%> €</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_españa_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_españa_min%> €</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "Panama" && @rate.rate_panama != "0,00"%>
<h5>Panama</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_panama_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_panama%> $</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_panama_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_panama_min%> $</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "Peru" && @rate.rate_peru != "0,00"%>
<h5>Peru</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_peru_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_peru%> S/</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_peru_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_peru_min%> S/</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "Portugal" && @rate.rate_portugal != "0,00"%>
<h5>Portugal</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_portugal_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_portugal%> €</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_portugal_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_portugal_min%> €</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.upcase != "USA" && @rate.rate_usa != "0,00"%>
<h5>USA</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_usa_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_usa%> $</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_usa_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_usa_min%> $</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>

<%if @rate.country.capitalize != "Venezuela" && @rate.rate_venezuela != "0,00"%>
<h5>Venezuela</h5>
<div class="row">    
    <div class="<%if @rate.monto_oferta != "0,00" && @rate.rate_venezuela_min != "0,00"%>col-5<%else%>col-12<%end%>">
        <h6>Sin tasa minima</h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_venezuela%> Bs</span> 
    </div>
    <%if @rate.monto_oferta != "0,00" && @rate.rate_venezuela_min != "0,00"%>
    <div class="col-7">
        <h6>Mas de <%=@rate.monto_oferta%> <%=@rate.moneda%> </h6>
        <span>1 <%=@rate.moneda%> = <%=@rate.rate_venezuela_min%> Bs</span>  
    </div>
    <%end%>
</div>
<hr>
<%end%>