<%= form_with(model: rate, local: true) do |form| %>
<% if rate.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

    <ul>
        <% rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row field">
    <div class="col-4">
        <%= form.label :country, "Pais" %>
        <%= form.text_field :country, id:"input" %>
    </div>

    <div class="col-4">
        <%= form.label :monto_oferta, "Monto Oferta" %>
        <%= form.text_field :monto_oferta, id:"montoOferta" %>
    </div>

    <div class="col-4">
        <%= form.label :moneda, "Moneda" %>
        <%= form.text_field :moneda, id:"moneda" %>
    </div>
</div>

<%if rate.country != "Argentina"%>
<div class="" id="Argentina">
    <h3 class="mt-3 text-success">Argentina</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_argentina, "Sin tasa minima" %>
            <%= form.number_field :rate_argentina, step: :any%>
        </div>

        <div class="col-6">
            <%= form.label :rate_argentina_min, "A partir de " %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_argentina_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<%if rate.country != "Brasil"%>
<div class="" id="Brasil">
    <h3 class="mt-3 text-success">Brasil</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_brasil, "Sin tasa minima" %>
            <%= form.number_field :rate_brasil, step: :any%>
        </div>

        <div class="col-6">
            <%= form.label :rate_brasil_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_brasil_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<div class="" id="Chile">
    <h3 class="mt-3 text-success">Chile</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_chile, "Sin tasa minima" %>
            <%= form.number_field :rate_chile, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_chile_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_chile_min, step: :any %>
        </div>
    </div>
</div>

<div class="" id="Ecuador">
    <h3 class="mt-3 text-success">Ecuador</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_ecuador, "Sin tasa minima" %>
            <%= form.number_field :rate_ecuador, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_ecuador_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_ecuador_min, step: :any %>
        </div>
    </div>
</div>

<%if rate.country != "España"%>
<div class="" id="España">
    <h3 class="mt-3 text-success">España</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_españa, "Sin tasa minima" %>
            <%= form.number_field :rate_españa, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_españa_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_españa_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<%if rate.country != "Panama"%>
<div class="" id="Peru">
    <h3 class="mt-3 text-success">Panama</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_panama, "Sin tasa minima" %>
            <%= form.number_field :rate_panama, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_panama_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_panama_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<%if rate.country != "Peru"%>
<div class="" id="Peru">
    <h3 class="mt-3 text-success">Peru</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_peru, "Sin tasa minima" %>
            <%= form.number_field :rate_peru, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_peru_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_peru_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<%if rate.country != "Portugal"%>
<div class="" id="Portugal">
    <h3 class="mt-3 text-success">Portugal</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_portugal, "Sin tasa minima" %>
            <%= form.number_field :rate_portugal, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_portugal_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_portugal_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<%if rate.country != "USA"%>
<div class="" id="USA">
    <h3 class="mt-3 text-success">USA</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_usa, "Sin tasa minima" %>
            <%= form.number_field :rate_usa, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_usa_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_usa_min, step: :any %>
        </div>
    </div>
</div>
<%end%>

<%if rate.country != "Venezuela"%>
<div class="" id="Venezuela">
    <h3 class="mt-3 text-success">Venezuela</h3>
    <div class="row field">

        <div class="col-6">
            <%= form.label :rate_venezuela, "Sin tasa minima" %>
            <%= form.number_field :rate_venezuela, step: :any %>
        </div>

        <div class="col-6">
            <%= form.label :rate_venezuela_min, "A partir de" %><span class="text-primary font-weight-bold"> <%=rate.monto_oferta%></span><span class="text-primary font-weight-bold"> <%=rate.moneda%></span>
            <%= form.number_field :rate_venezuela_min, step: :any %>
        </div>
    </div>
</div>
<%end%>


<div class="actions mt-2">
    <%= form.submit "Guardar", class:"btn btn-primary" %>
    <%= link_to 'Volver', rates_path, class:"btn btn-primary"%>
</div>
<% end %>

<script>
    var caja = function() {
        var elementosDiv = document.getElementsByTagName("div");
        

        for (i=0; i<elementosDiv.length; i++){
            if(elementosDiv[i].className == "d-none"){
                elementosDiv[i].className = ""
            }
            if(elementosDiv[i].id == input.value){
                elementosDiv[i].className = "d-none"
            }
        }

    }
    var añadirMoneda = function () {
        elementosSpan = document.getElementsByTagName("span")
        
        for(i=3; i<elementosSpan.length; i+=2){
            
            elementosSpan[i].innerHTML = " " + moneda.value
            
        }
    }

    var añadirMonto = function () {
        elementosSpan = document.getElementsByTagName("span")
        
        for(i=2; i<elementosSpan.length; i+=2){
            
            elementosSpan[i].innerHTML = " " + monto.value
            
        }
    }

    var input = document.getElementById('input');
    var moneda = document.getElementById('moneda');
    var monto = document.getElementById('montoOferta');

    input.addEventListener("blur", caja);
    moneda.addEventListener("change", añadirMoneda);
    monto.addEventListener("change", añadirMonto);

</script>