<p id="notice"><%= notice %></p>

<p>
  <strong>Rate brasil:</strong>
  <%= @rate.rate_brasil %>
</p>


<p>
  <strong>Rate ecuador:</strong>
  <%= @rate.rate_ecuador %>
</p>

<p>
  <strong>Rate españa:</strong>
  <%= @rate.rate_españa %>
</p>

<p>
  <strong>Rate peru:</strong>
  <%= @rate.rate_peru %>
</p>

<p>
  <strong>Rate portugal:</strong>
  <%= @rate.rate_portugal %>
</p>

<p>
  <strong>Rate usa:</strong>
  <%= @rate.rate_usa %>
</p>

<p>
  <strong>Rate venezuela:</strong>
  <%= @rate.rate_venezuela %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
