<!DOCTYPE html>
<html>

<head>
    <title>Otacar Cambios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Diego Velázquez">
    <meta name="description" content="Tablero con Bootstrap 4 - Webook">
    <%if user_signed_in?%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <%else%>
    <link rel="stylesheet" href="/css/style_signed.css" />

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <%end%>
</head>

<body id="bodys">
    <div class="d-flex" id="content-wrapper">
        <%if user_signed_in?%>
        <%= render "partials/nav" %>
        <%end%>
        
        <div id="page-content-wrapper" class="w-100 bg-light-blue">
            <%if user_signed_in?%><%=render "partials/subnav"%><%end%>

            <%if alert && user_signed_in?%>
            <div id="alert" class="show showAlert">
                <span class="fas fa-exclamation-circle"></span>
                <span class="msg"><%=alert%></span>
            </div>
            <%end%>
            <%if notice && user_signed_in?%>
            <div id="notice" class="show showAlert">
                <span class="fas fa-check-circle"></span>
                <span class="msg"><%=notice%></span>
            </div>
            <%end%>
            <div id="content" class="bg-grey w-100">
                <div class="pt-4 px-3 pb-5">
                    <%= yield %>
                </div>
            </div>
        
        </div>
    </div>
    <div class="drag-target" data-sidenav="mobile-menu" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 50%; right: 0px;"></div>
    
    <div id="sidenav-overlay" style="opacity: 1;" class=""></div>
    <script>
        <%if user_signed_in?%>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#content-wrapper").addClass("toggled");
            $("#menu-toggle2").removeClass("d-none");
            $("#sidenav-overlay").addClass("sidenav-overlay");
            
        });

        $("#menu-toggle2").click(function(e) {
            e.preventDefault();
            $("#content-wrapper").removeClass("toggled");
            $("#menu-toggle2").addClass("d-none");
            $("#sidenav-overlay").removeClass("sidenav-overlay");
        });
        <%end%>

        <%if alert && user_signed_in?%>
        var campoAlerta = document.getElementById("alert");
        setTimeout(() => {
            campoAlerta.classList.add("hide");
            campoAlerta.classList.remove("show");
        }, 5000);
        
        
        <%end%>

        <%if notice && user_signed_in?%>
        var campoAlerta = document.getElementById("notice");
        setTimeout(() => {
            campoAlerta.classList.add("hide");
            campoAlerta.classList.remove("show");
        }, 5000);
        setTimeout(() => {
            campoAlerta.classList.remove("showAlert");
            campoAlerta.classList.remove("hide");
            campoAlerta.classList.add("d-none");
        }, 6000);
        <%end%>
    </script>
</body>

</html>